a {
    text-decoration: none !important;
}
.card {
    flex: 0 0 auto;
    background-color: #212529 !important;
}
body {
    background-color: rgb(15, 15, 15) !important;
}
footer{
    background-color: #212529 !important;
}
nav {
    background-color: #417dff !important;
}
main {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.btn {
    background-color: #417dff !important;
}
.btn-outline-success {
    border-color: rgb(15, 15, 15) !important;
    color: rgb(16, 16, 16) !important;
}
.form-control {
    border-color: rgb(15, 15, 15) !important;
    color: rgb(16, 16, 16) !important;
}
#TitoloNome {
    text-align: center;
    margin-top: 10%;
    color: rgb(230, 226, 226);
}
nav.navbar {
    box-shadow: 0 3px 3px #417dff;
    position: sticky;
    top: 0;
    z-index: 1000;
}
#ContactBtn {
    text-align: center;
    border-radius: 10px;
    background-color: #417dff !important;
    border: none;
    width: 150px;
    height: 48px;
}